name: .NET Core

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    env:
      GitHubPackageFeedUrl: https://nuget.pkg.github.com/Owl2020-team/index.json
      LogicProjectPath: ${{ github.WORKSPACE }}/AnimalAdoption.Common.Logic

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core @ Latest
      uses: actions/setup-dotnet@v1
      with:
        source-url: ${{ env.GitHubPackageFeedUrl }}
      env:
        NUGET_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Install dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration Release --no-restore
    - name: Unit Test
      run: dotnet test AnimalAdoption.Web.Portal.UnitTests --no-restore --verbosity normal 
    - name: Publish Website
      run: dotnet publish AnimalAdoption.Web.Portal --output ./publish --no-build --configuration Release  
    - name: Upload website Build Artifact
      uses: actions/upload-artifact@v2.1.4
      with:
        name: Website-Artifacts
        path: ./publish/
        if-no-files-found: error
    - name: Package up project
      run: dotnet pack --configuration Release ${{ env.LogicProjectPath }}
    - name: Push package to GitHub registry
      run: dotnet nuget push ${{ env.LogicProjectPath }}/**/*.nupkg --skip-duplicate
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Download Web Artifacts
        uses: actions/download-artifact@v2.0.5
        with:
          name: Website-Artifacts
          path: ./Artifacts/
      - name: Show Me Directory
        run: ls -R ./Artifacts